body{
    margin-top: 20px;
    background-color: antiquewhite;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: rgb(4, 0, 255);
    overflow: hidden;
}
.topbar a{
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color: rgb(73, 70, 70);
    color: white;
    height: 100%;
    font-style: italic;
    margin-right: 5px;
}

.sidebar h3{
    margin-left: 10px;
}

.sidebar img{
margin-left: 60px;
margin-top: 10px;
border-radius: 50%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: antiquewhite;
    margin-left: 0px;
}